WordprocessingML/Schemas/Carts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:eway:document-schemas:proposal-base2"
    elementFormDefault="qualified"
    xmlns="urn:eway:document-schemas:proposal-base2"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Do not edit this if you do not know what you are doing. -->
  <xs:element name="Proposal">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="AccountingCaseDate" type="xs:string" minOccurs="0" />
        <xs:element name="Active" type="xs:string" minOccurs="0" />
        <xs:element name="CreatedByGUID" type="xs:string" minOccurs="0" />
        <xs:element name="CurrencyEn" type="xs:string" minOccurs="0" />
        <xs:element name="EffectiveFrom" type="xs:string" minOccurs="0" />
        <xs:element name="FileAs" type="xs:string" minOccurs="0" />
        <xs:element name="ForPayment" type="xs:string" minOccurs="0" />
        <xs:element name="ForPaymentDefaultCurrency" type="xs:string" minOccurs="0" />
        <xs:element name="ForPaymentParentCurrency" type="xs:string" minOccurs="0" />
        <xs:element name="GoodsInCartCount" type="xs:string" minOccurs="0" />
        <xs:element name="ID" type="xs:string" minOccurs="0" />
        <xs:element name="ItemChanged" type="xs:string" minOccurs="0" />
        <xs:element name="ItemCreated" type="xs:string" minOccurs="0" />
        <xs:element name="ItemID" type="xs:string" minOccurs="0" />
        <xs:element name="ItemState" type="xs:string" minOccurs="0" />
        <xs:element name="ItemVersion" type="xs:string" minOccurs="0" />
        <xs:element name="ModifiedByGUID" type="xs:string" minOccurs="0" />
        <xs:element name="Note" type="xs:string" minOccurs="0" />
        <xs:element name="OwnerGUID" type="xs:string" minOccurs="0" />
        <xs:element name="Paid" type="xs:string" minOccurs="0" />
        <xs:element name="PaidChanged" type="xs:string" minOccurs="0" />
        <xs:element name="PaidDefaultCurrency" type="xs:string" minOccurs="0" />
        <xs:element name="PaidParentCurrency" type="xs:string" minOccurs="0" />
        <xs:element name="PaymentDate" type="xs:string" minOccurs="0" />
        <xs:element name="PrevStateEn" type="xs:string" minOccurs="0" />
        <xs:element name="PriceTotal" type="xs:string" minOccurs="0" />
        <xs:element name="PriceTotalChanged" type="xs:string" minOccurs="0" />
        <xs:element name="PriceTotalDefaultCurrency" type="xs:string" minOccurs="0" />
        <xs:element name="PriceTotalExcludingVAT" type="xs:string" minOccurs="0" />
        <xs:element name="PriceTotalExcludingVATDefaultCurrency" type="xs:string" minOccurs="0" />
        <xs:element name="PriceTotalExcludingVATParentCurrency" type="xs:string" minOccurs="0" />
        <xs:element name="PriceTotalParentCurrency" type="xs:string" minOccurs="0" />
        <xs:element name="Private" type="xs:string" minOccurs="0" />
        <xs:element name="StateEn" type="xs:string" minOccurs="0" />
        <xs:element name="TaxableSupplyDate" type="xs:string" minOccurs="0" />
        <xs:element name="TypeEn" type="xs:string" minOccurs="0" />
        <xs:element name="ValidUntil" type="xs:string" minOccurs="0" />
        <xs:element name="VAT" type="xs:string" minOccurs="0" />
        <xs:element name="VATDefaultCurrency" type="xs:string" minOccurs="0" />
        <xs:element name="VATParentCurrency" type="xs:string" minOccurs="0" />
        <xs:element name="Goods" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="ChildItemsCount" type="xs:string" minOccurs="0" />
                    <xs:element name="Code" type="xs:string" minOccurs="0" />
                    <xs:element name="CreatedByGUID" type="xs:string" minOccurs="0" />
                    <xs:element name="Description" type="xs:string" minOccurs="0" />
                    <xs:element name="Discount" type="xs:string" minOccurs="0" />
                    <xs:element name="FileAs" type="xs:string" minOccurs="0" />
                    <xs:element name="HierarchyInSet" type="xs:string" minOccurs="0" />
                    <xs:element name="IncludeInCartPrice" type="xs:string" minOccurs="0" />
                    <xs:element name="IsFromSet" type="xs:string" minOccurs="0" />
                    <xs:element name="IsPriceSum" type="xs:string" minOccurs="0" />
                    <xs:element name="ItemChanged" type="xs:string" minOccurs="0" />
                    <xs:element name="ItemCreated" type="xs:string" minOccurs="0" />
                    <xs:element name="ItemState" type="xs:string" minOccurs="0" />
                    <xs:element name="ItemVersion" type="xs:string" minOccurs="0" />
                    <xs:element name="JoinedToGUID" type="xs:string" minOccurs="0" />
                    <xs:element name="ListPrice" type="xs:string" minOccurs="0" />
                    <xs:element name="ListPriceChanged" type="xs:string" minOccurs="0" />
                    <xs:element name="ListPriceCustomized" type="xs:string" minOccurs="0" />
                    <xs:element name="ListPriceDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="ListPriceParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="ModifiedByGUID" type="xs:string" minOccurs="0" />
                    <xs:element name="Note" type="xs:string" minOccurs="0" />
                    <xs:element name="OwnerGUID" type="xs:string" minOccurs="0" />
                    <xs:element name="ParentGUID" type="xs:string" minOccurs="0" />
                    <xs:element name="PriceTotal" type="xs:string" minOccurs="0" />
                    <xs:element name="PriceTotalChanged" type="xs:string" minOccurs="0" />
                    <xs:element name="PriceTotalDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="PriceTotalExcludingVAT" type="xs:string" minOccurs="0" />
                    <xs:element name="PriceTotalExcludingVATDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="PriceTotalExcludingVATParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="PriceTotalParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="Private" type="xs:string" minOccurs="0" />
                    <xs:element name="PurchaseCurrencyEn" type="xs:string" minOccurs="0" />
                    <xs:element name="PurchasePrice" type="xs:string" minOccurs="0" />
                    <xs:element name="PurchasePriceChanged" type="xs:string" minOccurs="0" />
                    <xs:element name="PurchasePriceDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="PurchasePriceParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="Quantity" type="xs:string" minOccurs="0" />
                    <xs:element name="Rank" type="xs:string" minOccurs="0" />
                    <xs:element name="SaleCurrencyEn" type="xs:string" minOccurs="0" />
                    <xs:element name="SalePrice" type="xs:string" minOccurs="0" />
                    <xs:element name="SalePriceChanged" type="xs:string" minOccurs="0" />
                    <xs:element name="SalePriceDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="SalePriceExcludingVAT" type="xs:string" minOccurs="0" />
                    <xs:element name="SalePriceExcludingVATDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="SalePriceExcludingVATParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="SalePriceParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="Structure" type="xs:string" minOccurs="0" />
                    <xs:element name="UnitEn" type="xs:string" minOccurs="0" />
                    <xs:element name="VAT" type="xs:string" minOccurs="0" />
                    <xs:element name="VATDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="VATParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="VATRate" type="xs:string" minOccurs="0" />
                    <xs:element name="VATTotal" type="xs:string" minOccurs="0" />
                    <xs:element name="VATTotalDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="VATTotalParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="PurchasePriceTotal" type="xs:string" minOccurs="0" />
                    <xs:element name="PurchasePriceTotalChanged" type="xs:string" minOccurs="0" />
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="GoodsSets" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="ChildItemsCount" type="xs:string" minOccurs="0" />
                    <xs:element name="Code" type="xs:string" minOccurs="0" />
                    <xs:element name="CreatedByGUID" type="xs:string" minOccurs="0" />
                    <xs:element name="Description" type="xs:string" minOccurs="0" />
                    <xs:element name="Discount" type="xs:string" minOccurs="0" />
                    <xs:element name="FileAs" type="xs:string" minOccurs="0" />
                    <xs:element name="HierarchyInSet" type="xs:string" minOccurs="0" />
                    <xs:element name="IncludeInCartPrice" type="xs:string" minOccurs="0" />
                    <xs:element name="IsFromSet" type="xs:string" minOccurs="0" />
                    <xs:element name="IsPriceSum" type="xs:string" minOccurs="0" />
                    <xs:element name="ItemChanged" type="xs:string" minOccurs="0" />
                    <xs:element name="ItemCreated" type="xs:string" minOccurs="0" />
                    <xs:element name="ItemState" type="xs:string" minOccurs="0" />
                    <xs:element name="ItemVersion" type="xs:string" minOccurs="0" />
                    <xs:element name="JoinedToGUID" type="xs:string" minOccurs="0" />
                    <xs:element name="ListPrice" type="xs:string" minOccurs="0" />
                    <xs:element name="ListPriceChanged" type="xs:string" minOccurs="0" />
                    <xs:element name="ListPriceCustomized" type="xs:string" minOccurs="0" />
                    <xs:element name="ListPriceDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="ListPriceParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="ModifiedByGUID" type="xs:string" minOccurs="0" />
                    <xs:element name="Note" type="xs:string" minOccurs="0" />
                    <xs:element name="OwnerGUID" type="xs:string" minOccurs="0" />
                    <xs:element name="ParentGUID" type="xs:string" minOccurs="0" />
                    <xs:element name="PriceTotal" type="xs:string" minOccurs="0" />
                    <xs:element name="PriceTotalChanged" type="xs:string" minOccurs="0" />
                    <xs:element name="PriceTotalDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="PriceTotalExcludingVAT" type="xs:string" minOccurs="0" />
                    <xs:element name="PriceTotalExcludingVATDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="PriceTotalExcludingVATParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="PriceTotalParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="Private" type="xs:string" minOccurs="0" />
                    <xs:element name="PurchaseCurrencyEn" type="xs:string" minOccurs="0" />
                    <xs:element name="PurchasePrice" type="xs:string" minOccurs="0" />
                    <xs:element name="PurchasePriceChanged" type="xs:string" minOccurs="0" />
                    <xs:element name="PurchasePriceDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="PurchasePriceParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="Quantity" type="xs:string" minOccurs="0" />
                    <xs:element name="Rank" type="xs:string" minOccurs="0" />
                    <xs:element name="SaleCurrencyEn" type="xs:string" minOccurs="0" />
                    <xs:element name="SalePrice" type="xs:string" minOccurs="0" />
                    <xs:element name="SalePriceChanged" type="xs:string" minOccurs="0" />
                    <xs:element name="SalePriceDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="SalePriceExcludingVAT" type="xs:string" minOccurs="0" />
                    <xs:element name="SalePriceExcludingVATDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="SalePriceExcludingVATParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="SalePriceParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="Structure" type="xs:string" minOccurs="0" />
                    <xs:element name="UnitEn" type="xs:string" minOccurs="0" />
                    <xs:element name="VAT" type="xs:string" minOccurs="0" />
                    <xs:element name="VATDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="VATParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="VATRate" type="xs:string" minOccurs="0" />
                    <xs:element name="VATTotal" type="xs:string" minOccurs="0" />
                    <xs:element name="VATTotalDefaultCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="VATTotalParentCurrency" type="xs:string" minOccurs="0" />
                    <xs:element name="Goods" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:choice minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="ChildItemsCount" type="xs:string" minOccurs="0" />
                                <xs:element name="Code" type="xs:string" minOccurs="0" />
                                <xs:element name="CreatedByGUID" type="xs:string" minOccurs="0" />
                                <xs:element name="Description" type="xs:string" minOccurs="0" />
                                <xs:element name="Discount" type="xs:string" minOccurs="0" />
                                <xs:element name="FileAs" type="xs:string" minOccurs="0" />
                                <xs:element name="HierarchyInSet" type="xs:string" minOccurs="0" />
                                <xs:element name="IncludeInCartPrice" type="xs:string" minOccurs="0" />
                                <xs:element name="IsFromSet" type="xs:string" minOccurs="0" />
                                <xs:element name="IsPriceSum" type="xs:string" minOccurs="0" />
                                <xs:element name="ItemChanged" type="xs:string" minOccurs="0" />
                                <xs:element name="ItemCreated" type="xs:string" minOccurs="0" />
                                <xs:element name="ItemState" type="xs:string" minOccurs="0" />
                                <xs:element name="ItemVersion" type="xs:string" minOccurs="0" />
                                <xs:element name="JoinedToGUID" type="xs:string" minOccurs="0" />
                                <xs:element name="ListPrice" type="xs:string" minOccurs="0" />
                                <xs:element name="ListPriceChanged" type="xs:string" minOccurs="0" />
                                <xs:element name="ListPriceCustomized" type="xs:string" minOccurs="0" />
                                <xs:element name="ListPriceDefaultCurrency" type="xs:string" minOccurs="0" />
                                <xs:element name="ListPriceParentCurrency" type="xs:string" minOccurs="0" />
                                <xs:element name="ModifiedByGUID" type="xs:string" minOccurs="0" />
                                <xs:element name="Note" type="xs:string" minOccurs="0" />
                                <xs:element name="OwnerGUID" type="xs:string" minOccurs="0" />
                                <xs:element name="ParentGUID" type="xs:string" minOccurs="0" />
                                <xs:element name="PriceTotal" type="xs:string" minOccurs="0" />
                                <xs:element name="PriceTotalChanged" type="xs:string" minOccurs="0" />
                                <xs:element name="PriceTotalDefaultCurrency" type="xs:string" minOccurs="0" />
                                <xs:element name="PriceTotalExcludingVAT" type="xs:string" minOccurs="0" />
                                <xs:element name="PriceTotalExcludingVATDefaultCurrency" type="xs:string" minOccurs="0" />
                                <xs:element name="PriceTotalExcludingVATParentCurrency" type="xs:string" minOccurs="0" />
                                <xs:element name="PriceTotalParentCurrency" type="xs:string" minOccurs="0" />
                                <xs:element name="Private" type="xs:string" minOccurs="0" />
                                <xs:element name="PurchaseCurrencyEn" type="xs:string" minOccurs="0" />
                                <xs:element name="PurchasePrice" type="xs:string" minOccurs="0" />
                                <xs:element name="PurchasePriceChanged" type="xs:string" minOccurs="0" />
                                <xs:element name="PurchasePriceDefaultCurrency" type="xs:string" minOccurs="0" />
                                <xs:element name="PurchasePriceParentCurrency" type="xs:string" minOccurs="0" />
                                <xs:element name="Quantity" type="xs:string" minOccurs="0" />
                                <xs:element name="Rank" type="xs:string" minOccurs="0" />
                                <xs:element name="SaleCurrencyEn" type="xs:string" minOccurs="0" />
                                <xs:element name="SalePrice" type="xs:string" minOccurs="0" />
                                <xs:element name="SalePriceChanged" type="xs:string" minOccurs="0" />
                                <xs:element name="SalePriceDefaultCurrency" type="xs:string" minOccurs="0" />
                                <xs:element name="SalePriceExcludingVAT" type="xs:string" minOccurs="0" />
                                <xs:element name="SalePriceExcludingVATDefaultCurrency" type="xs:string" minOccurs="0" />
                                <xs:element name="SalePriceExcludingVATParentCurrency" type="xs:string" minOccurs="0" />
                                <xs:element name="SalePriceParentCurrency" type="xs:string" minOccurs="0" />
                                <xs:element name="Structure" type="xs:string" minOccurs="0" />
                                <xs:element name="UnitEn" type="xs:string" minOccurs="0" />
                                <xs:element name="VAT" type="xs:string" minOccurs="0" />
                                <xs:element name="VATDefaultCurrency" type="xs:string" minOccurs="0" />
                                <xs:element name="VATParentCurrency" type="xs:string" minOccurs="0" />
                                <xs:element name="VATRate" type="xs:string" minOccurs="0" />
                                <xs:element name="VATTotal" type="xs:string" minOccurs="0" />
                                <xs:element name="VATTotalDefaultCurrency" type="xs:string" minOccurs="0" />
                                <xs:element name="VATTotalParentCurrency" type="xs:string" minOccurs="0" />
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SystemData" minOccurs="0">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="CurrentDate" type="xs:string" minOccurs="0" />
              <xs:element name="CurrentTime" type="xs:string" minOccurs="0" />
              <xs:element name="CurrentYear" type="xs:string" minOccurs="0" />
              <xs:element name="CurrentMonth" type="xs:string" minOccurs="0" />
              <xs:element name="CurrentDay" type="xs:string" minOccurs="0" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="MyCompany" minOccurs="0">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="MyCompanyCity" type="xs:string" minOccurs="0" />
              <xs:element name="MyCompanyId" type="xs:string" minOccurs="0" />
              <xs:element name="MyCompanyName" type="xs:string" minOccurs="0" />
              <xs:element name="MyCompanyStreet" type="xs:string" minOccurs="0" />
              <xs:element name="MyCompanyVatNumber" type="xs:string" minOccurs="0" />
              <xs:element name="MyCompanyZip" type="xs:string" minOccurs="0" />
              <xs:element name="MyCompanyIDVAT" type="xs:string" minOccurs="0" />
              <xs:element name="MyCompanyRegister" type="xs:string" minOccurs="0" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="Owner" minOccurs="0">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="ItemID" type="xs:string" minOccurs="0" />
              <xs:element name="PrefixEn" type="xs:string" minOccurs="0" />
              <xs:element name="FirstName" type="xs:string" minOccurs="0" />
              <xs:element name="MiddleName" type="xs:string" minOccurs="0" />
              <xs:element name="LastName" type="xs:string" minOccurs="0" />
              <xs:element name="SuffixEn" type="xs:string" minOccurs="0" />
              <xs:element name="FileAs" type="xs:string" minOccurs="0" />
              <xs:element name="UserName" type="xs:string" minOccurs="0" />
              <xs:element name="Birthdate" type="xs:string" minOccurs="0" />
              <xs:element name="BirthPlace" type="xs:string" minOccurs="0" />
              <xs:element name="PersonalIdentificationNumber" type="xs:string" minOccurs="0" />
              <xs:element name="IDCardNumber" type="xs:string" minOccurs="0" />
              <xs:element name="FamilyStatusEn" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressStreet" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressPostalCode" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressCity" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressState" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressCountry" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressPOBox" type="xs:string" minOccurs="0" />
              <xs:element name="BankAccount" type="xs:string" minOccurs="0" />
              <xs:element name="BusinessPhoneNumber" type="xs:string" minOccurs="0" />
              <xs:element name="MobilePhoneNumber" type="xs:string" minOccurs="0" />
              <xs:element name="Email1Address" type="xs:string" minOccurs="0" />
              <xs:element name="Email2Address" type="xs:string" minOccurs="0" />
              <xs:element name="ICQ" type="xs:string" minOccurs="0" />
              <xs:element name="MSN" type="xs:string" minOccurs="0" />
              <xs:element name="Skype" type="xs:string" minOccurs="0" />
              <xs:element name="IdentificationNumber" type="xs:string" minOccurs="0" />
              <xs:element name="HealthInsurance" type="xs:string" minOccurs="0" />
              <xs:element name="HolidayLength" type="xs:string" minOccurs="0" />
              <xs:element name="SalaryDateEn" type="xs:string" minOccurs="0" />
              <xs:element name="TravelDistance" type="xs:string" minOccurs="0" />
              <xs:element name="TimeAccessibility" type="xs:string" minOccurs="0" />
              <xs:element name="TransportMode" type="xs:string" minOccurs="0" />
              <xs:element name="Note" type="xs:string" minOccurs="0" />
              <xs:element name="Active" type="xs:string" minOccurs="0" />
              <xs:element name="ItemCreated" type="xs:string" minOccurs="0" />
              <xs:element name="ItemChanged" type="xs:string" minOccurs="0" />
              <xs:element name="RemainingDaysOfHoliday" type="xs:string" minOccurs="0" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="CreatedBy" minOccurs="0">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="ItemID" type="xs:string" minOccurs="0" />
              <xs:element name="PrefixEn" type="xs:string" minOccurs="0" />
              <xs:element name="FirstName" type="xs:string" minOccurs="0" />
              <xs:element name="MiddleName" type="xs:string" minOccurs="0" />
              <xs:element name="LastName" type="xs:string" minOccurs="0" />
              <xs:element name="SuffixEn" type="xs:string" minOccurs="0" />
              <xs:element name="FileAs" type="xs:string" minOccurs="0" />
              <xs:element name="UserName" type="xs:string" minOccurs="0" />
              <xs:element name="Birthdate" type="xs:string" minOccurs="0" />
              <xs:element name="BirthPlace" type="xs:string" minOccurs="0" />
              <xs:element name="PersonalIdentificationNumber" type="xs:string" minOccurs="0" />
              <xs:element name="IDCardNumber" type="xs:string" minOccurs="0" />
              <xs:element name="FamilyStatusEn" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressStreet" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressPostalCode" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressCity" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressState" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressCountry" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressPOBox" type="xs:string" minOccurs="0" />
              <xs:element name="BankAccount" type="xs:string" minOccurs="0" />
              <xs:element name="BusinessPhoneNumber" type="xs:string" minOccurs="0" />
              <xs:element name="MobilePhoneNumber" type="xs:string" minOccurs="0" />
              <xs:element name="Email1Address" type="xs:string" minOccurs="0" />
              <xs:element name="Email2Address" type="xs:string" minOccurs="0" />
              <xs:element name="ICQ" type="xs:string" minOccurs="0" />
              <xs:element name="MSN" type="xs:string" minOccurs="0" />
              <xs:element name="Skype" type="xs:string" minOccurs="0" />
              <xs:element name="IdentificationNumber" type="xs:string" minOccurs="0" />
              <xs:element name="HealthInsurance" type="xs:string" minOccurs="0" />
              <xs:element name="HolidayLength" type="xs:string" minOccurs="0" />
              <xs:element name="SalaryDateEn" type="xs:string" minOccurs="0" />
              <xs:element name="TravelDistance" type="xs:string" minOccurs="0" />
              <xs:element name="TimeAccessibility" type="xs:string" minOccurs="0" />
              <xs:element name="TransportMode" type="xs:string" minOccurs="0" />
              <xs:element name="Note" type="xs:string" minOccurs="0" />
              <xs:element name="Active" type="xs:string" minOccurs="0" />
              <xs:element name="ItemCreated" type="xs:string" minOccurs="0" />
              <xs:element name="ItemChanged" type="xs:string" minOccurs="0" />
              <xs:element name="RemainingDaysOfHoliday" type="xs:string" minOccurs="0" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="ModifiedBy" minOccurs="0">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="ItemID" type="xs:string" minOccurs="0" />
              <xs:element name="PrefixEn" type="xs:string" minOccurs="0" />
              <xs:element name="FirstName" type="xs:string" minOccurs="0" />
              <xs:element name="MiddleName" type="xs:string" minOccurs="0" />
              <xs:element name="LastName" type="xs:string" minOccurs="0" />
              <xs:element name="SuffixEn" type="xs:string" minOccurs="0" />
              <xs:element name="FileAs" type="xs:string" minOccurs="0" />
              <xs:element name="UserName" type="xs:string" minOccurs="0" />
              <xs:element name="Birthdate" type="xs:string" minOccurs="0" />
              <xs:element name="BirthPlace" type="xs:string" minOccurs="0" />
              <xs:element name="PersonalIdentificationNumber" type="xs:string" minOccurs="0" />
              <xs:element name="IDCardNumber" type="xs:string" minOccurs="0" />
              <xs:element name="FamilyStatusEn" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressStreet" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressPostalCode" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressCity" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressState" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressCountry" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressPOBox" type="xs:string" minOccurs="0" />
              <xs:element name="BankAccount" type="xs:string" minOccurs="0" />
              <xs:element name="BusinessPhoneNumber" type="xs:string" minOccurs="0" />
              <xs:element name="MobilePhoneNumber" type="xs:string" minOccurs="0" />
              <xs:element name="Email1Address" type="xs:string" minOccurs="0" />
              <xs:element name="Email2Address" type="xs:string" minOccurs="0" />
              <xs:element name="ICQ" type="xs:string" minOccurs="0" />
              <xs:element name="MSN" type="xs:string" minOccurs="0" />
              <xs:element name="Skype" type="xs:string" minOccurs="0" />
              <xs:element name="IdentificationNumber" type="xs:string" minOccurs="0" />
              <xs:element name="HealthInsurance" type="xs:string" minOccurs="0" />
              <xs:element name="HolidayLength" type="xs:string" minOccurs="0" />
              <xs:element name="SalaryDateEn" type="xs:string" minOccurs="0" />
              <xs:element name="TravelDistance" type="xs:string" minOccurs="0" />
              <xs:element name="TimeAccessibility" type="xs:string" minOccurs="0" />
              <xs:element name="TransportMode" type="xs:string" minOccurs="0" />
              <xs:element name="Note" type="xs:string" minOccurs="0" />
              <xs:element name="Active" type="xs:string" minOccurs="0" />
              <xs:element name="ItemCreated" type="xs:string" minOccurs="0" />
              <xs:element name="ItemChanged" type="xs:string" minOccurs="0" />
              <xs:element name="RemainingDaysOfHoliday" type="xs:string" minOccurs="0" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="CurrentUser" minOccurs="0">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="ItemID" type="xs:string" minOccurs="0" />
              <xs:element name="PrefixEn" type="xs:string" minOccurs="0" />
              <xs:element name="FirstName" type="xs:string" minOccurs="0" />
              <xs:element name="MiddleName" type="xs:string" minOccurs="0" />
              <xs:element name="LastName" type="xs:string" minOccurs="0" />
              <xs:element name="SuffixEn" type="xs:string" minOccurs="0" />
              <xs:element name="FileAs" type="xs:string" minOccurs="0" />
              <xs:element name="UserName" type="xs:string" minOccurs="0" />
              <xs:element name="Birthdate" type="xs:string" minOccurs="0" />
              <xs:element name="BirthPlace" type="xs:string" minOccurs="0" />
              <xs:element name="PersonalIdentificationNumber" type="xs:string" minOccurs="0" />
              <xs:element name="IDCardNumber" type="xs:string" minOccurs="0" />
              <xs:element name="FamilyStatusEn" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressStreet" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressPostalCode" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressCity" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressState" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressCountry" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressCountryEn" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressPOBox" type="xs:string" minOccurs="0" />
              <xs:element name="BankAccount" type="xs:string" minOccurs="0" />
              <xs:element name="BusinessPhoneNumber" type="xs:string" minOccurs="0" />
              <xs:element name="MobilePhoneNumber" type="xs:string" minOccurs="0" />
              <xs:element name="Email1Address" type="xs:string" minOccurs="0" />
              <xs:element name="Email2Address" type="xs:string" minOccurs="0" />
              <xs:element name="ICQ" type="xs:string" minOccurs="0" />
              <xs:element name="MSN" type="xs:string" minOccurs="0" />
              <xs:element name="Skype" type="xs:string" minOccurs="0" />
              <xs:element name="IdentificationNumber" type="xs:string" minOccurs="0" />
              <xs:element name="HealthInsurance" type="xs:string" minOccurs="0" />
              <xs:element name="HolidayLength" type="xs:string" minOccurs="0" />
              <xs:element name="SalaryDateEn" type="xs:string" minOccurs="0" />
              <xs:element name="TravelDistance" type="xs:string" minOccurs="0" />
              <xs:element name="TimeAccessibility" type="xs:string" minOccurs="0" />
              <xs:element name="TransportMode" type="xs:string" minOccurs="0" />
              <xs:element name="Note" type="xs:string" minOccurs="0" />
              <xs:element name="Active" type="xs:string" minOccurs="0" />
              <xs:element name="ItemCreated" type="xs:string" minOccurs="0" />
              <xs:element name="ItemChanged" type="xs:string" minOccurs="0" />
              <xs:element name="RemainingDaysOfHoliday" type="xs:string" minOccurs="0" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="Customer" minOccurs="0">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="ItemID" type="xs:string" minOccurs="0" />
              <xs:element name="CompanyName" type="xs:string" minOccurs="0" />
              <xs:element name="Department" type="xs:string" minOccurs="0" />
              <xs:element name="AccountNumber" type="xs:string" minOccurs="0" />
              <xs:element name="IdentificationNumber" type="xs:string" minOccurs="0" />
              <xs:element name="VatNumber" type="xs:string" minOccurs="0" />
              <xs:element name="Reversal" type="xs:string" minOccurs="0" />
              <xs:element name="EmployeesCount" type="xs:string" minOccurs="0" />
              <xs:element name="Purchaser" type="xs:string" minOccurs="0" />
              <xs:element name="Suppliers" type="xs:string" minOccurs="0" />
              <xs:element name="Address1Street" type="xs:string" minOccurs="0" />
              <xs:element name="Address1City" type="xs:string" minOccurs="0" />
              <xs:element name="Address1State" type="xs:string" minOccurs="0" />
              <xs:element name="Address1Country" type="xs:string" minOccurs="0" />
              <xs:element name="Address1CountryEn" type="xs:string" minOccurs="0" />
              <xs:element name="Address1PostalCode" type="xs:string" minOccurs="0" />
              <xs:element name="Address1POBox" type="xs:string" minOccurs="0" />
              <xs:element name="Address2Street" type="xs:string" minOccurs="0" />
              <xs:element name="Address2City" type="xs:string" minOccurs="0" />
              <xs:element name="Address2State" type="xs:string" minOccurs="0" />
              <xs:element name="Address2Country" type="xs:string" minOccurs="0" />
              <xs:element name="Address2CountryEn" type="xs:string" minOccurs="0" />
              <xs:element name="Address2PostalCode" type="xs:string" minOccurs="0" />
              <xs:element name="Address2POBox" type="xs:string" minOccurs="0" />
              <xs:element name="Address3Street" type="xs:string" minOccurs="0" />
              <xs:element name="Address3City" type="xs:string" minOccurs="0" />
              <xs:element name="Address3State" type="xs:string" minOccurs="0" />
              <xs:element name="Address3Country" type="xs:string" minOccurs="0" />
              <xs:element name="Address3CountryEn" type="xs:string" minOccurs="0" />
              <xs:element name="Address3PostalCode" type="xs:string" minOccurs="0" />
              <xs:element name="Address3POBox" type="xs:string" minOccurs="0" />
              <xs:element name="Phone" type="xs:string" minOccurs="0" />
              <xs:element name="Mobile" type="xs:string" minOccurs="0" />
              <xs:element name="Fax" type="xs:string" minOccurs="0" />
              <xs:element name="WebPage" type="xs:string" minOccurs="0" />
              <xs:element name="Email" type="xs:string" minOccurs="0" />
              <xs:element name="ICQ" type="xs:string" minOccurs="0" />
              <xs:element name="Skype" type="xs:string" minOccurs="0" />
              <xs:element name="MSN" type="xs:string" minOccurs="0" />
              <xs:element name="ImportanceEn" type="xs:string" minOccurs="0" />
              <xs:element name="FirstContactEn" type="xs:string" minOccurs="0" />
              <xs:element name="LineOfBusiness" type="xs:string" minOccurs="0" />
              <xs:element name="MailingListEmail" type="xs:string" minOccurs="0" />
              <xs:element name="MailingListOther" type="xs:string" minOccurs="0" />
              <xs:element name="MailingListOtherValue" type="xs:string" minOccurs="0" />
              <xs:element name="Note" type="xs:string" minOccurs="0" />
              <xs:element name="ItemCreated" type="xs:string" minOccurs="0" />
              <xs:element name="ItemChanged" type="xs:string" minOccurs="0" />
              <xs:element name="AdditionalDiscount" type="xs:string" minOccurs="0" />
              <xs:element name="ID" type="xs:string" minOccurs="0" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="ContactPerson" minOccurs="0">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="ItemID" type="xs:string" minOccurs="0" />
              <xs:element name="PrefixEn" type="xs:string" minOccurs="0" />
              <xs:element name="FirstName" type="xs:string" minOccurs="0" />
              <xs:element name="MiddleName" type="xs:string" minOccurs="0" />
              <xs:element name="LastName" type="xs:string" minOccurs="0" />
              <xs:element name="SuffixEn" type="xs:string" minOccurs="0" />
              <xs:element name="FileAs" type="xs:string" minOccurs="0" />
              <xs:element name="Title" type="xs:string" minOccurs="0" />
              <xs:element name="WebPage" type="xs:string" minOccurs="0" />
              <xs:element name="Email1Address" type="xs:string" minOccurs="0" />
              <xs:element name="Email2Address" type="xs:string" minOccurs="0" />
              <xs:element name="Email3Address" type="xs:string" minOccurs="0" />
              <xs:element name="ImportanceEn" type="xs:string" minOccurs="0" />
              <xs:element name="BusinessAddressStreet" type="xs:string" minOccurs="0" />
              <xs:element name="BusinessAddressPostalCode" type="xs:string" minOccurs="0" />
              <xs:element name="BusinessAddressCity" type="xs:string" minOccurs="0" />
              <xs:element name="BusinessAddressState" type="xs:string" minOccurs="0" />
              <xs:element name="BusinessAddressCountry" type="xs:string" minOccurs="0" />
              <xs:element name="BusinessAddressCountryEn" type="xs:string" minOccurs="0" />
              <xs:element name="BusinessAddressPOBox" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressStreet" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressPostalCode" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressCity" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressState" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressCountry" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressCountryEn" type="xs:string" minOccurs="0" />
              <xs:element name="HomeAddressPOBox" type="xs:string" minOccurs="0" />
              <xs:element name="OtherAddressStreet" type="xs:string" minOccurs="0" />
              <xs:element name="OtherAddressPostalCode" type="xs:string" minOccurs="0" />
              <xs:element name="OtherAddressCity" type="xs:string" minOccurs="0" />
              <xs:element name="OtherAddressState" type="xs:string" minOccurs="0" />
              <xs:element name="OtherAddressCountry" type="xs:string" minOccurs="0" />
              <xs:element name="OtherAddressCountryEn" type="xs:string" minOccurs="0" />
              <xs:element name="OtherAddressPOBox" type="xs:string" minOccurs="0" />
              <xs:element name="TelephoneNumber1" type="xs:string" minOccurs="0" />
              <xs:element name="TelephoneNumber1Normalized" type="xs:string" minOccurs="0" />
              <xs:element name="TelephoneNumber2" type="xs:string" minOccurs="0" />
              <xs:element name="TelephoneNumber2Normalized" type="xs:string" minOccurs="0" />
              <xs:element name="TelephoneNumber3" type="xs:string" minOccurs="0" />
              <xs:element name="TelephoneNumber3Normalized" type="xs:string" minOccurs="0" />
              <xs:element name="TelephoneNumber4" type="xs:string" minOccurs="0" />
              <xs:element name="TelephoneNumber4Normalized" type="xs:string" minOccurs="0" />
              <xs:element name="TelephoneNumber5" type="xs:string" minOccurs="0" />
              <xs:element name="TelephoneNumber5Normalized" type="xs:string" minOccurs="0" />
              <xs:element name="TelephoneNumber6" type="xs:string" minOccurs="0" />
              <xs:element name="TelephoneNumber6Normalized" type="xs:string" minOccurs="0" />
              <xs:element name="Department" type="xs:string" minOccurs="0" />
              <xs:element name="ICQ" type="xs:string" minOccurs="0" />
              <xs:element name="Skype" type="xs:string" minOccurs="0" />
              <xs:element name="MSN" type="xs:string" minOccurs="0" />
              <xs:element name="Note" type="xs:string" minOccurs="0" />
              <xs:element name="ItemCreated" type="xs:string" minOccurs="0" />
              <xs:element name="ItemChanged" type="xs:string" minOccurs="0" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="SuperiorItem" minOccurs="0">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="ItemID" type="xs:string" minOccurs="0" />
              <xs:element name="HID" type="xs:string" minOccurs="0" />
              <xs:element name="FileAs" type="xs:string" minOccurs="0" />
              <xs:element name="Note" type="xs:string" minOccurs="0" />
              <xs:element name="ItemCreated" type="xs:string" minOccurs="0" />
              <xs:element name="ItemChanged" type="xs:string" minOccurs="0" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
